{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Medical Management System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Medical Management System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'user_list' %}">Users</a></li>
                <li><a href="{% url 'patient_list' %}">Patients</a></li>
                <li><a href="{% url 'visit_list' %}">Visits</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>